*{
    margin: 0;
    padding: 0;
    background-color: #F9F5E7;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Playfair Display', serif;
}

.menu-bar{
    background-color: #A7727D;
    height: 80px;
    width: 90%;
    display: flex;/* items next to each other*/
    align-items: center;/*center the bar items*/
    justify-content: space-between;/* */
    padding: 0 5%;/* the content in the middle of the bar*/
}
.logo{
    background-color: #A7727D;
    color: #F9F5E7;
    font-family:'Edu TAS Beginner', cursive; 
    font-size: 50px;
}
.logo span{
    background-color: #A7727D;
    color: #EDDBC7;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
}
/*design the list of links in the bar*/
.menu-bar ul{
    list-style: none;/* remove the dot*/
    display: flex;/* items next to each other*/
 }

 /*design the li each link*/
 .menu-bar ul li{
    background-color: #A7727D;
    padding: 10px 30px;
    position: relative;/**************/
 }
 /*design the links a*/
 .menu-bar ul li a{
    background-color: #A7727D;
    text-decoration: none;
    display: block;/**/
    color: #EDDBC7;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Edu TAS Beginner', cursive;
    transition: 0;/* time of transition*/
 }
 .menu-bar  ul li  a:hover {
    color: #F9F5E7;
 }
 /*design the dropdown*/
 #dropdown-menu{
    display: block;
    position: absolute;
    width: 140px;
    top: 40px;/* solve the dissapiring of the bar*/
    left: 0;
    visibility: hidden;
    z-index: 1;/* item order of the element on the screen*/
    cursor: pointer;/**/
    transition: 0;
    font-size: small;
 }

 #dropdown-menu ul , #dropdown-menu li a{
    display: block;
    margin: 10px;
    text-align: left;
 }
 li:hover ul#dropdown-menu {/* on the li menu i want the ul dropdown to appear*/
    visibility: visible;
    display: block;
 }
 /*********************************************************************************/
.container{
    display: flex;
}
.txt{
 flex: 1;
 margin: 100px 30px;
 padding: 30px 30px;
}
.txt span{
    display: center;
    color: #F9F5E7;
    font-size: 50px;
    font-family:'Edu TAS Beginner', cursive; 
    word-spacing: 10px;/*space btween words*/
    text-shadow: 2px 2px 5px #7a515a,0 0 25px #A7727D;
}
span:hover{
    font-size: 70px;
    text-shadow: none;
    color: #93626c;
    cursor: grab;
}
.txt p{
    color: #A7727D;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    line-height: 1.8;/* space btween rows*/
}
.pic{
    flex: -1;
}
.pic img{
    height: 670px;
    width: auto;
    filter: blur(6px);
}
img:hover{
  filter: none;
  cursor: grab;
}